*/node_modules

# ignore files with local environment variables
*.env

# ignore log files in all subdirectories
**/*.log

# Ignore the express installation that is created by start.sh
node_modules
package.json
package-lock.json

