# Secrets for the Zoom API
ZOOM_API_KEY=""
ZOOM_API_SECRET=""

# Secrets for the LimeSurvey API
LMS_URL=""
LMS_USER=""
LMS_PASSWORD=""
LMS_ATTENDANCE_SURVEY_ID=""

# Secrets for the Mattermost API
MM_API_KEY=""
