# Secrets for the Zoom API
export ZOOM_API_KEY=""
export ZOOM_API_SECRET=""

# Secrets for the LimeSurvey API
export LMS_URL=""
export LMS_USER=""
export LMS_PASSWORD=""
export LMS_ATTENDANCE_SURVEY_ID=""

# Secrets for the Mattermost API
export MM_API_KEY=""
