# These packages are automatically installed
# Run this locally via: python -m pip install -r requirements.txt
pandas
requests
flask>=1.0,<3.0  # Specifying Flask version to be compatible with Functions Framework
thefuzz
google-cloud-storage
xhtml2pdf
