.login-pf body {
    background-image: none;
    background-color: #E5E5E5;
    height: 100%;
}

.pf-c-form-control {
  border-color: #0D888D;
}

.pf-c-form-control:hover {
  border-color: #0D888D;
}

.card-pf {
    margin: 0 auto;
    box-shadow: var(--pf-global--BoxShadow--lg);
    padding: 0 20px;
    max-width: 500px;
    border: 7px solid;
    border-color: #0D888D; /* default - IE compatibility */
}

.pf-c-button.pf-m-primary {
  background-image: none;
  background-color: #0D888D;
  border-color: #0b7478;
}

.pf-c-button.pf-m-primary:hover {
  background-image: none;
  background-color: #0b7478;
}

a {
  color: #0D888D;
}

a:hover {
  color: #0b7478;
}

.edu-title {
  color:black;
}

