@tailwind base;

@layer base {
  body {
    @apply font-medium;
  }
}

@tailwind components;
@tailwind utilities;

.check-list {
  background: url(/images/course/checkmark.svg) no-repeat 0 0.5rem;
  list-style: none;
  padding-left: 2rem;
}
