.academy_header_guest .navbar {
    height: auto;
}

.academy_header_guest h2 {
    font-size: 1.75em;
    font-weight: 700;
}

.academy_header_guest .nav-link {
    font-size: 22px;
    color: black !important;
}

.academy_header_guest .nav-link-dropdown {
    font-size: 22px;
    color: black !important;
}

.academy_header_guest .navbar-brand {
    height: unset;
}

.academy_header_guest .dropdown-menu {
    background-color: $sec_one;
    padding: 0;
    position: absolute;
    top: 100%;
    right: 0;
}

.academy_header_guest .dropdown-item {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.academy_header_guest .navbar-collapse {
    z-index: 2;
}

.academy_header_guest .img-circle {
    border-radius: 40px;
    height: 45px;
    width: 45px;
}

.academy_header_guest .brand-logo {
    max-height: 4.5em;
    padding: 0.5em;
}

.academy_header_guest .navbar-toggler {
    font-size: 30px;
    color: black;
    border: none;
}

.login-pf body {
    background-image: none;
    background-color: #222;
    height: 100%;
}

.pf-c-form-control {
  border-color: rgb(34,34,34);
}

.pf-c-form-control:hover {
  border-color: rgb(34,34,34);
  border-bottom-width: 1px;
}

.card-pf {
    background-color: rgb(243 244 246);
    border-radius: 16px;
    border: none;
    margin: 0 auto;
    /* box-shadow: var(--pf-global--BoxShadow--lg); */
    box-shadow: none;
    padding: 0 20px;
    max-width: 500px;
}

.pf-c-button.pf-m-primary {
  background-image: none;
  background: transparent;
  border: 2px solid rgb(34,34,34);
  border-radius: 9999px;
  color: rgb(34,34,34);
  padding: 8px 24px;
  text-transform: lowercase;
}

.pf-c-button.pf-m-block {
  margin: 0 auto;
  width: auto;
}

.pf-c-button.pf-m-primary:hover {
  background-image: none;
  background-color: rgb(34,34,34);
  color: #FFF;
}

a {
  color: #FFF;
}

a:hover {
  color: #0b7478;
}

.edu-title {
  color:black;
}

